.navbar {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #e3e3e3;
  height: 50px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}

.link {
  margin-right: 20px;
  font-weight: 500;
  color: #000;
}