.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #fafafa;
}

.content {
  margin-top: 25vh;
  text-align: center;
}